*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

input,
button,
textarea,
select {
    font: inherit;
}

html {
    scroll-behavior: smooth;
}


body {
    font-family: 'Marope', sans-serif;
    font-weight: 400;
    background-color: #1C2225;
    color: #FCF9F9;
}

.container {
    max-width: 1200px;
    margin: auto 100px;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav {
    display: flex;
    justify-content: space-between;
}

.header__nav-list {
    display: flex;
    align-items: center;
    gap: 25px;
    text-transform: uppercase;
}

.header__logo {
    width: 44px;
    height: 44px;
    fill: #ECD979;
    border: none;
}